.active-board-lane {
	background-color: var(--background-modifier-active-hover);
}

.lane-card {
	background-color: var(--background-primary-alt);
	padding: 10px 10px;
	border-radius: 8px;
}

.lane-card:hover {
	cursor: grab;
}

.lane-card:active {
	cursor: grabbing;
}

.lane-card-title > p {
	padding: 0;
	text-align: start;
}

/* .lane-card-field {
	border: 1px solid white;
} */

.lane-card-separator {
	width: 100%;
	height: 1px;
	background-color: var(--background-secondary-alt);
}

.lane-card-separator:last-child {
	background-color: transparent;
}

.card-drop-indicator {
	margin: 5px 0;
	height: 1px;
	width: 100%;
	background-color: var(--color-accent);
	opacity: 0;
}
